
.reglamento{
    background-image: url(../imagenes/corner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin-top: 100px;
    margin-bottom: 25px;
}

.reglamento_secciones{
    padding: 20px;
    font-size: 25px;
    font-style: italic;
    
}

.reglamento_secciones-titulo{
    margin-left: 1rem;
}

.reglamento_secciones-texto{
    color: black;
    font-size: 18px;
    font-weight: bolder;
    width: 75%;
    padding: 20px 0px;
    
}
